<div class="ui modal login" *ngIf="!isLoggedIn()">
  <i class="close icon"></i>
  <div class="header">Login</div>
  <form class="ui content large form" [formGroup]="loginForm" (ngSubmit)="login()">

    <div class="ui center aligned grid">
      <div class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>E-Mail</label>
          <input type="email" id="username" formControlName="username">
          <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty ||
                  loginForm.get('username').touched) && loginForm.get('username').hasError('required')"
               class="ui negative message">Email ist verpflichtend</div>
          <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty ||
                  loginForm.get('username').touched) && loginForm.get('username').hasError('email')"
               class="ui negative message">Email-Format überprüfen</div>
        </div>
      </div>
      <div class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Passwort</label>
          <input type="password" formControlName="password">
          <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty ||
                  loginForm.get('password').touched)"
               class="ui negative message">Passwort ist verpflichtend</div>
        </div>
      </div>

      <div class="ui hidden divider"></div>
      <div class="ui one column row">
        <div class="actions ui twelve wide column">
          <button type="submit" class="ui ok large basic blue button" [disabled]="loginForm.invalid">Login</button>
        </div>
      </div>
    </div>
  </form>
</div>
