<div *ngIf="isLoggedIn()" class="ui three item menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="lists" routerLinkActive="active" class="item">Einkaufslisten</a>
  <a [routerLink]="['./../account']" routerLinkActive="active" class="item">Account</a>
</div>
<br/><br/>
<router-outlet></router-outlet>
