<div class="ui container">
  <button [routerLink]="'/lists'" class="ui basic blue labeled icon button">
    <i class="left arrow icon"></i>Zurück zur Übersicht</button>
  <br/><br/><br/>
</div>

<div class="ui cards one column wide container">
  <div class="ui centered card column" [ngClass]="{'red border': shoppingList?.status == 0, 'yellow border': shoppingList?.status == 1, 'green border': shoppingList?.status == 2}">
    <div class="content">
      <div class="meta description" *ngIf="shoppingList?.status == 0">Diese Liste ist offen.</div>
      <div class="meta description" *ngIf="shoppingList?.status == 1">Diese Liste ist noch ausstehend.</div>
      <div class="meta description" *ngIf="shoppingList?.status == 2">Diese Liste ist vollendet.</div>

      <div class="meta description">Diese Liste wurde am {{shoppingList?.created_at}} erstellt und am {{shoppingList?.updated_at}} zuletzt geändert.</div>

      <div class="ui header center aligned">{{ shoppingList?.title }}</div>
      <div class="meta description center aligned">{{ shoppingList?.description }}</div>
      <br/>

      <div class="ui middle aligned grid">
        <div class="ui two column row">
          <div class="ui ten wide column">
            <div class="meta description" *ngIf="getCurrentUser()!=shoppingList?.creator_id">
              Erstellt von {{ shoppingList?.creatorFirstName }} {{ shoppingList?.creatorLastName }}.</div>
            <div class="meta description" *ngIf="getCurrentUser()!=shoppingList?.creator_id && shoppingList?.status!=0">
              Die Einkäufe sollen an <a href="https://www.google.de/maps/place/{{ shoppingList?.creatorStreet }}+{{ shoppingList?.creatorStreetNumber }},+{{ shoppingList?.creatorZip }}+{{ shoppingList?.creatorCity }}" target="_blank">{{ shoppingList?.creatorStreet }} {{ shoppingList?.creatorStreetNumber }},
              {{ shoppingList?.creatorZip }} {{ shoppingList?.creatorCity }},
              {{ shoppingList?.creatorCountry }}</a> geliefert werden.</div>
            <div class="meta description" *ngIf="shoppingList?.helperFirstName != null && getCurrentUser()!=shoppingList?.helper_id">
              {{ shoppingList?.helperFirstName }} {{shoppingList?.helperLastName}} hat diese Liste übernommen.</div>
            <div class="meta description" *ngIf="shoppingList?.helperFirstName == null">
              Es hat noch niemand diese Liste übernommen.</div>

            <div class="meta description">Dieser Einkauf soll bis zum {{ shoppingList?.date }} erledigt werden.</div>
            <div class="meta description" *ngIf="shoppingList?.total_price">Der Einkauf hat insgesamt {{shoppingList?.total_price}}€ gekostet.</div>
            <!--<div class="meta description" >Die Einkäufe dürfen maximal {{ calculateMaxTotalPrice() }}€ kosten.</div>-->
            <br/>
          </div>
          <div class="ui six wide column">
            <button *ngIf="shoppingList?.status==0 && getCurrentUser()==shoppingList?.creator_id"
                    class="ui yellow basic labeled icon button right floated" (click)="showNewList()">
              <i class="edit icon"></i>Liste bearbeiten</button>
            <button *ngIf="shoppingList?.status==1 && getCurrentUser()==shoppingList?.helper_id"
                    class="ui yellow basic labeled icon button right floated" (click)="showNewList()">
              <i class="money icon"></i>Preis und Rechnung hinzufügen</button>
            <button *ngIf="shoppingList?.status==0 && getCurrentUserRole()==1"
                    class="ui green basic labeled icon button right floated" (click)="updateHelper()">
              <i class="check icon"></i>Einkauf übernehmen</button>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui two column row">
          <div class="ui header ten wide column">Artikel</div>
          <div class="ui six wide column">
            <button *ngIf="shoppingList?.status==0 && getCurrentUser()==shoppingList?.creator_id"
                    class="ui olive basic labeled icon button right floated" (click)="showNewItem()">
              <i class="add icon"></i> neuen Artikel hinzufügen</button>
          </div>
        </div>
        <div class="ui one column row">
          <div class="ui sixteen wide column">
          <div class="ui middle aligned selection divided list">
            <div class="meta description" *ngIf="shoppingList?.items.length == 0">Es wurden keine Artikel zu dieser Liste hinzugefügt.</div>
            <div *ngFor="let item of shoppingList?.items" class="item">
              <div class="right floated content">
                <div class="meta description">die gewünschte Menge ist {{item?.pivot.amount}} Stück</div>
                <div class="meta description">zum Preis von jeweils maximal {{item?.pivot.max_price}}€</div>
              </div>
              <div class="header">{{item.title}}</div>
              <div class="meta description">{{item?.description}}</div>
            </div>
          </div>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui two column row">
          <div class="ui header ten wide column">Kommentare</div>
          <div class="ui six wide column">
            <button *ngIf="getCurrentUser() == shoppingList?.creator_id || getCurrentUser() == shoppingList?.helper_id"
                    class="ui teal basic labeled icon button right floated" (click)="showNewComment()">
              <i class="icon edit"></i> Kommentar hinzufügen</button>
          </div>
        </div>
        <div class="ui one column row">
          <div class="ui sixteen wide column threaded comments">

              <div class="meta description" *ngIf="shoppingList?.feedback.length == 0">Es wurden keine Kommentare zu dieser Liste hinzugefügt.</div>
              <div class="comment" *ngFor="let comment of shoppingList?.feedback">
                <div class="content">
                  <a class="author" *ngIf="comment.user_id==shoppingList.creator_id">{{shoppingList.creatorFirstName}} {{shoppingList.creatorLastName}}</a>
                  <a class="author" *ngIf="comment.user_id==shoppingList.helper_id">{{shoppingList.helperFirstName}} {{shoppingList.helperLastName}}</a>
                  <div class="metadata">
                    <span class="date">{{comment.updated_at}}</span>
                  </div>
                  <div class="text">{{comment.comment}}</div>
                </div>
              </div>
          </div>
        </div>

    </div>

    <bs-shopping-list-form></bs-shopping-list-form>
    <bs-item-form></bs-item-form>
    <bs-comment-form></bs-comment-form>
  </div>
  </div>
</div>
