<div *ngIf="!isLoggedIn()">
  <h1>Login</h1>
  <form class="ui large form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label>E-Mail</label>
      <input type="email" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty ||
                  loginForm.get('username').touched) && loginForm.get('username').hasError('required')"
           class="ui negative message">Email ist verpflichtend</div>
      <div *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty ||
                  loginForm.get('username').touched) && loginForm.get('username').hasError('email')"
           class="ui negative message">Email-Format überprüfen</div>
    </div>
    <div class="field">
      <label>Passwort</label>
      <input type="password" formControlName="password">
      <div *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty ||
                  loginForm.get('password').touched)"
           class="ui negative message">Passwort ist verpflichtend</div>
    </div>

    <button type="submit" class="ui button" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
<div *ngIf="isLoggedIn()">
  <div class="twelve wide colummn">
    <h2 class="ui header"> User {{ authService.getCurrentUserId()}} {{ authService.getCurrentUserFirstName()}} {{authService.getCurrentUserLastName()}}</h2>
    <h3 class="ui header"> Rolle {{ authService.getCurrentUserRole() }}</h3>
    <br>
  </div>
  <button type="button" class="ui button" (click)="logout()">Logout</button>
</div>
