<div class="ui item tabs menu" [ngClass]="isLoggedIn() ? 'three' : 'two'">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a *ngIf="isLoggedIn()" routerLink="lists" routerLinkActive="active" class="item">Meine Listen</a>
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
</div>
<router-outlet></router-outlet>
