<div class="ui buttons">
  <a class="ui blue basic button" (click)="filterByAll()">Alle Listen</a>
  <a class="ui red basic button" (click)="filterByIdAndStatus(0)">Offene Listen</a>
  <a class="ui yellow basic button" (click)="filterByIdAndStatus(1)">In Bearbeitung</a>
  <a class="ui green basic button" (click)="filterByIdAndStatus(2)">Erledigte Listen</a>
</div>
<br><br>
<a *ngIf="authService.getCurrentUserRole() == 0" routerLink="../admin"
   routerLinkActive="active" class="ui yellow button">Neue Liste erstellen</a>
<div class="ui middle aligned selection divided list">
  <a *ngFor="let shoppingList of shoppingLists" class="item bs-shopping-lists-overview-item"
     [shoppingList]="shoppingList" [routerLink]="shoppingList.id"></a>
  <div *ngIf="!shoppingLists" class="ui active dimmmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>
  <p *ngIf="shoppingLists && !shoppingLists.length">Keine Listen vorhanden.</p>
</div>
