<h1 *ngIf="isUpdatingShoppingList">Liste bearbeiten</h1>
<h1 *ngIf="!isUpdatingShoppingList">Liste erstellen</h1>
<form class="ui large form" [formGroup]="shoppingListForm"
      (ngSubmit)="submitForm()">
  <input type="hidden" name="id">
  <div class="field">
    <label>Name der Liste</label>
    <input formControlName="title">
    <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }}</div>
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <input formControlName="description">
  </div>
  <div class="field">
    <label>Fällig bis zum</label>
    <input type="date" formControlName="date">
    <div *ngIf="errors.date" class="ui negative message">{{ errors.date }}</div>
  </div>
  <div class="field">
    <label>Items</label>
    <input formControlName="items">
  </div>
  <div *ngIf="authService.getCurrentUserRole() == 1" class="field">
    <label>Tatsächlicher Betrag</label>
    <input type="number" formControlName="total_price">
    <div *ngIf="errors.total_price" class="ui negative message">{{ errors.total_price }}</div>
  </div>
  <div *ngIf="authService.getCurrentUserRole() == 1" class="field">
    <label>Foto der Rechung</label>
    <input formControlName="photo_bill">
  </div>
  <button type="submit" class="ui button" [disabled]="shoppingListForm.invalid">Speichern</button>
</form>




