<div class="ui grid">
  <div class="three column row">
    <div class="ui two wide column"></div>
    <div class="ui large header center aligned raised segment twelve wide column">
      <div *ngIf="isLoggedIn()"><h3>Hallo {{firstName}}.</h3></div>
      <br/>
      <div *ngIf="role==0" class="content">Du hast angegeben, dass du Hilfe suchst.</div>
      <div *ngIf="role==1" class="content">Du hast angegeben, dass gerne helfen würdest.</div>
      <div *ngIf="role==0" class="content">Deine hinterlegte Adresse ist {{ street }} {{streetNumber}} in
        {{zip}} {{city}}, {{country}}.</div>
      <br/><br/>
        <button *ngIf="isLoggedIn()" type="button" class="ui large basic blue button" (click)="logout()">Logout</button>
    </div>
    <div class="ui two wide column"></div>
  </div>
</div>
