<div class="ui modal newlist">
  <i class="close icon"></i>
  <div class="header" *ngIf="isUpdatingShoppingList && getCurrentUserRole()==0">Liste bearbeiten</div>
  <div class="header" *ngIf="isUpdatingShoppingList && getCurrentUserRole()==1">Preis und Rechnung hinzufügen</div>
  <div class="header" *ngIf="!isUpdatingShoppingList">Liste erstellen</div>
  <form class="ui content large form" [formGroup]="shoppingListForm"
        (ngSubmit)="submitForm()">

    <div class="ui center aligned grid">
      <div *ngIf="shoppingList?.status!=1 && shoppingList?.status!=2" class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Name der Liste</label>
          <input formControlName="title">
          <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }}</div>
        </div>
      </div>
      <div *ngIf="shoppingList?.status!=1 && shoppingList?.status!=2" class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Beschreibung</label>
          <input formControlName="description">
        </div>
      </div>
      <div *ngIf="shoppingList?.status!=1 && shoppingList?.status!=2" class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Fällig bis zum</label>
          <input type="date" formControlName="date">
          <div *ngIf="errors.date" class="ui negative message">{{ errors.date }}</div>
        </div>
      </div>

      <div *ngIf="shoppingList?.status==1" class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Insgesamt bezahlt in €</label>
          <input type="number" formControlName="total_price">
        </div>
      </div>

      <div class="ui hidden divider"></div>
      <div class="ui one column row">
        <div class="actions ui twelve wide column">
          <button class="ui black deny basic button">
            Abbrechen
          </button>
          <button type="submit" class="ui positive right labeled icon basic button" [disabled]="shoppingListForm.invalid">
            Speichern
            <i class="checkmark icon"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

