<div class="content">
  <div class="header">{{ shoppingList.title }}</div>
  <div class="description">{{ shoppingList.description }}</div>
  <div class="metadata">Ersteller: {{ shoppingList.creator_id }}</div>
  <div class="date">Fällig bis: {{ shoppingList.date }}</div>
  <div class="metadata"></div>
</div>
