<div class="ui modal newcomment">
  <i class="close icon"></i>
  <div class="header">Kommentar hinzufügen</div>
  <div  class="content">
    <div class="ui threaded comments">
      <div class="comment" *ngFor="let comment of shoppingList?.feedback">
        <div class="content">
          <a class="author" *ngIf="comment.user_id==shoppingList.creator_id">{{shoppingList.creatorFirstName}} {{shoppingList.creatorLastName}}</a>
          <a class="author" *ngIf="comment.user_id==shoppingList.helper_id">{{shoppingList.helperFirstName}} {{shoppingList.helperLastName}}</a>
          <div class="metadata">
            <span class="date">{{comment.updated_at}}</span>
          </div>
          <div class="text">{{comment.comment}}</div>
        </div>
      </div>
    </div>

    <form class="ui large form" [formGroup]="commentForm"
          (ngSubmit)="submitForm()">
      <div class="field">
        <input formControlName="comment">
      </div>

      <div class="ui hidden divider"></div>

      <div class="ui center aligned grid">
        <div class="ui one column row">
          <div class="actions ui twelve wide column">
            <button class="ui black deny basic button">
              Abbrechen
            </button>
            <button type="submit" class="ui positive right labeled icon basic button" [disabled]="commentForm.invalid">
              Speichern
              <i class="checkmark icon"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


