<div class="ui grid">
  <div class="ui two wide column"></div>
  <div class="ui twelve wide column center aligned">
    <div class="ui active dimmmer">
      <div class="ui large text loader">Daten werden geladen...</div>
    </div>
    <div>
      <h3>Hallo {{firstName}}.</h3>
      <h5>Sieh dir hier deine Einkaufslisten an.</h5>
    </div>

    <br/>

    <button *ngIf="isLoggedIn() && getCurrentUserRole()==1" class="ui blue basic button" (click)="showAllOpenLists()">alle offenen Listen</button>
    <br/><br/>
    <div class="ui buttons center aligned">
      <button *ngIf="isLoggedIn()" class="ui black basic button" (click)="showMyLists()">alle meine Listen</button>
      <button *ngIf="isLoggedIn()" class="ui red basic button" (click)="showMyOpenLists()">meine offenen Listen</button>
      <button *ngIf="isLoggedIn()" class="ui yellow basic button" (click)="showMyPendingLists()">meine ausstehenden Listen</button>
      <button *ngIf="isLoggedIn()" class="ui green basic button" (click)="showMyDoneLists()">meine vollendeten Listen</button>
    </div>
    <br/><br/>
    <button *ngIf="isLoggedIn() && getCurrentUserRole()==0" class="ui blue basic labeled icon button"
            (click)="showNewList()">
      <i class="add icon"></i>neue Liste erstellen</button>
    <br/><br/>


    <div class="ui cards three column wide container">
    <span *ngFor="let list of shoppingLists"
          class="column card bs-shopping-list-overview-item"
          [ngClass]="{'red border': list?.status == 0, 'yellow border': list?.status == 1, 'green border': list?.status == 2}"
          [shoppingList]="list">
    </span>
    </div>

    <bs-shopping-list-form></bs-shopping-list-form>
  </div>
  <div class="ui two wide column"></div>
</div>
