<div class="ui grid">
  <div class="three column row">
    <div class="ui two wide column"></div>
    <div class="ui large header center aligned raised segment twelve wide column">
      <div *ngIf="!isLoggedIn()"><h3>Hallo.</h3></div>
      <div *ngIf="isLoggedIn()"><h3>Hallo {{firstName}}.</h3></div>
      <br/>
      <div class="content">Auf dieser Seite können Menschen ihre Einkaufsliste teilen und andere ihnen beim Einkaufen zu Hand gehen.</div>
      <br/><br/>
      <button *ngIf="!isLoggedIn()" class="ui large basic blue button" (click)="showLogin()">Login</button>
      <button *ngIf="isLoggedIn()" class="ui large basic blue button" routerLink="/lists">Einkaufslisten ansehen</button>
    </div>
    <div class="ui two wide column"></div>
  </div>
</div>

<bs-login></bs-login>
