<div class="ui grid" *ngIf="shoppingList">
  <div class="twelve wide colummn">
    <h2 class="ui header"> {{ shoppingList.title }}</h2>
    <h3 class="ui header" *ngIf="shoppingList.description">{{ shoppingList.description }}</h3>
    <h3 class="ui header">Ersteller: {{ shoppingList.creator_id }}</h3>
    <h3 class="ui header" *ngIf="shoppingList.helper_id" >Helfer: {{ shoppingList.helper_id }}</h3>
    <h3 class="ui header" *ngIf="!shoppingList.helper_id" >Helfer: Es hat noch niemand diese Liste übernommen.</h3>
    <h3 class="ui header" *ngIf="shoppingList.status == 0" >Diese Liste ist offen.</h3>
    <h3 class="ui header" *ngIf="shoppingList.status == 1" >Diese Liste ist in Bearbeitung.</h3>
    <h3 class="ui header" *ngIf="shoppingList.status == 2" >Diese Liste ist abgeschlossen.</h3>
    <h3 class="ui header">Fällig bis zum: {{ shoppingList.date }}</h3>
  </div>
  <h3 *ngIf="this.shoppingList?.items == []">Diese Liste ist leer.</h3>
  <div class="twelve wide column ui middle aligned selection divided list">
    <a *ngFor="let item of this.shoppingList?.items" class="item bs-shopping-list-detail-item">
      <div class="content">
        <div class="header">{{ item.title }}</div>
        <div class="description">{{ item.description }}</div>
        <div class="metadata"></div>
      </div>
    </a>
    <!--[shoppingList.item]="item" [routerLink]="shoppingList.id"-->
  </div>
</div>
<br>
<button [routerLink]="'/lists'" class="ui red labeled icon button">
  <i class="left chevron icon"></i> Zurück zur Übersicht
</button>
<button *ngIf="authService.isLoggedIn() && shoppingList.creator_id == authService.getCurrentUserId()" class="ui red labeled icon button"
        (click)="removeShoppingList()">
  <i class="remove icon"></i> Liste löschen
</button>
<a *ngIf="authService.isLoggedIn() && shoppingList.creator_id == authService.getCurrentUserId() && shoppingList.status == 0"
   class="ui yellow labeled icon button"
   [routerLink]="['../../admin', shoppingList?.id]">
  <i class="write icon"></i> Liste bearbeiten
</a>
<a *ngIf="authService.isLoggedIn() && shoppingList.creator_id != authService.getCurrentUserId() && shoppingList.status == 0"
   class="ui green labeled icon button"
   (click)="updateHelper(shoppingList.id, authService.getCurrentUserId())">
  <i class="check icon"></i> Liste übernehmen
</a>
<a *ngIf="authService.isLoggedIn() && shoppingList.creator_id != authService.getCurrentUserId() && shoppingList.status == 1"
   class="ui green labeled icon button"
   (click)="updateStatus(shoppingList.id, authService.getCurrentUserId())">
  <i class="check icon"></i> Liste abschließen
</a>

<br><br><br>

<form *ngIf="shoppingList.status == 0 && authService.getCurrentUserRole()==0" class="ui large form" [formGroup]="shoppingListItemForm"
      (ngSubmit)="submitForm()">
  <div class="field">
    <label>Item</label>
    <input formControlName="title">
    <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }}</div>
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <input formControlName="description">
  </div>
  <div class="field">
    <label>Maximaler Preis</label>
    <input type="number" formControlName="max_price">
  </div>
  <div class="field">
    <label>Menge</label>
    <input formControlName="amount">
    <div *ngIf="errors.amount" class="ui negative message"> {{ errors.amount }}</div>
  </div>
  <button type="submit" class="ui button" [disabled]="shoppingListItemForm.invalid">Speichern</button>
</form>
