<div class="ui middle aligned selection divided list">
  <div *ngIf="!shoppingLists" class="ui active dimmmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>
  <a *ngFor="let shoppingList of shoppingLists" class="item bs-shopping-lists-overview-item"
     [shoppingList]="shoppingList" [routerLink]="['../lists', shoppingList?.id]"></a>
  <p *ngIf="shoppingLists && !shoppingLists.length">Keine Listen vorhanden.</p>
</div>
