<div class="ui modal newitem">
  <i class="close icon"></i>
  <div class="header">Neuen Artikel hinzufügen</div>
  <form class="ui content large form" [formGroup]="itemForm"
        (ngSubmit)="submitForm()">
    <div class="ui center aligned grid">
      <div class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Name des Artikels</label>
          <input formControlName="title">
          <div *ngIf="errors.title" class="ui negative message"> {{ errors.title }}</div>
        </div>
      </div>
      <div class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Beschreibung</label>
          <input formControlName="description">
        </div>
      </div>
      <div class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Gewünschte Menge</label>
          <input type="number" formControlName="amount">
          <div *ngIf="errors.amount" class="ui negative message">{{ errors.amount }}</div>
        </div>
      </div>
      <div class="ui one column row">
        <div class="inline field ui twelve wide column">
          <label>Maximaler Preis pro Einheit</label>
          <input type="number" formControlName="max_price">
        </div>
      </div>

      <div class="ui hidden divider"></div>
      <div class="ui one column row">
        <div class="actions ui twelve wide column">
          <button class="ui black deny basic button">
            Abbrechen
          </button>
          <button type="submit" class="ui positive right labeled icon basic button" [disabled]="itemForm.invalid">
            Speichern
            <i class="checkmark icon"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
