<!--<a href="https://www.google.com/maps/@?api=1&map_action=map&center=4232" class="image">
  <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=API_KEY&q=Space+Needle,Seattle+WA" allowfullscreen>
    </iframe>
</a>-->

<a [routerLink]="shoppingList.id" class="content">

  <div class="meta small">{{ shoppingList?.updated_at }}</div>
  <br/>
  <div class="header">{{ shoppingList.title }}</div>
  <div class="meta description">{{ shoppingList?.description }}</div>
</a>

